---

---

<h2 class="text">About me</h2>

<p>
    I am José Manuel Romero, a passionate man about computers and programming.
</p>

<p>
    Technician in Web Application Development. Combining my studies with jobs as a 
    logistics operator and delivery driver has made me the ambitious, committed and 
    hard-working person I am today.
</p>

<p>
    After gaining experience in the Technology sector as a developer at La Fábrica de Software, 
    I realized where I want to build my professional career.
</p>

<p>
    I currently work at La Fábrica de Software and every day I feel more fortunate to be able to 
    dedicate myself to what I am passionate about and enjoy it. 
</p>


<style>
    h2{
        margin-top: 1.5em;
    }
</style>