---
import Puesto from "../../components/Puesto.astro";
---

<h2>Experience</h2>

<Puesto
    puesto="Software Developer"
    empresa="La F치brica de Software"
    descripcion="Implementation of new functionalities and modification of existing ones for the website, the vending and collecting machines."
    tiempo="March 2023 - Present"
>
    <img src="../../LaFabricaDeSoftware.png" alt="Logo de La F치brica de Software">
</Puesto>

<Puesto
    puesto="Logistics Operator"
    empresa="HEFAME"
    descripcion="Support in order preparation and placement of goods adapted to the work section: entries, exits, robot, dynamics."
    tiempo="May 2023 - Present"
>
    <img src="../../HEFAME.jpg" alt="Logo de HEFAME">
</Puesto>

<Puesto
    puesto="Delivery Driver"
    empresa="Papa Johns"
    descripcion="Driving the delivery vehicle to different destinations included in the route and preparing orders for each customer in person and by phone."
    tiempo="June 2023 - April 2024"
>
    <img src="../../PapaJohns2.png" alt="Logo de Papa Johns">
</Puesto>

<Puesto
    puesto="Sports Technician in Lifesaving and Lifeguarding"
    empresa="Aguas Cristalinas Madrile침as S.L."
    descripcion="Ensuring the health and safety of users inside and outside the pool."
    tiempo="June 2019 - September 2019"
>
    <img src="../../AguasCristalinas.png" alt="Logo de Aguas Cristalinas Madrile침as S.L.">
</Puesto>

<style>
    img{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    h2{
        margin-top: 2em;
    }
</style>