---
import Estudio from "../Estudio.astro"
---

<h2>Education</h2>

<Estudio 
    titulo="Web Application Development"
    centro="IES Laguna de Joatzel"
    duracion="2023 - 2025"
/>

<Estudio 
    titulo="Industrial Technology Engineering"
    centro="Universidad Rey Juan Carlos"
    duracion="2020 - 2023"
/>

<Estudio 
    titulo="High School Diploma in Science and Technology"
    centro="Colegio Jesus nazareno"
    duracion="2018 - 2020"
/>

<style>
    h2{
        margin-top: 2em;
    }
</style>