---
import Contacto from "../components/Contacto.astro";
import Presentacion from "../components/Presentacion.astro";
import Tecnologias from "../components/Tecnologias.astro";
import AboutMe from "../components/AboutMe.astro";
import Line from "../components/Line.astro";
import Layout from "../layouts/Layout.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";
import Formacion from "../components/Formacion.astro";
---

<Layout title="Portfolio - Joositoo">
	<Presentacion />
	<AboutMe />

	<Line />

	<Tecnologias />
	<Experiencia />
	<Proyectos />
	<Formacion />

	<Line />

	<Contacto>
		<p>José Manuel Romero de Lucas</p>
	</Contacto>
</Layout>

<style>
	.line {
		width: 90%;
		height: 3px;
		background-color: #41b8d5;
		border-radius: 50px;
		margin: 1em auto;
	}

	.fl{
		margin: 0 10%
	}
</style>
