---

---

<h2 class="text">Sobre mí</h2>

<p>
    Soy José Manuel Romero, un joven apasionado por la informática y la
    programación.
</p>

<p>
    Técnico Superior en desarrollo de Aplicaciones Web, el haber compaginado mis
    estudios con trabajos como operario logístico y repartidor me han convertido
    en la persona ambiciosa, comprometida y luchadora que soy hoy en día.
</p>

<p>
    Tras probar en el sector de la Tecnología como desarrollador en La Fábrica
    de Software, me he dado cuenta de dónde quiero desarrollar mi carrera
    profesional.
</p>

<p>
    Actualmente trabajo en La Fábrica de Software y cada día me siento más
    afortunado de poder dedicarme a lo que me apasiona y disfrutar cada día.
</p>


<style>
    h2{
        margin-top: 1.5em;
    }
</style>