---
import Puesto from "../components/Puesto.astro";
---

<h2>Experiencia</h2>

<Puesto
    puesto="Desarrollador de software"
    empresa="La Fábrica de Software"
    descripcion="Implementación de nuevas funcionalidades y modificación de las ya existentes tanto de la web como de las máquinas dispensadoras y recolectoras."
    tiempo="marzo 2023 - Actualidad"
>
    <p>Aquí va el png</p>
</Puesto>

<Puesto
    puesto="Operario logístico"
    empresa="HEFAME"
    descripcion="Apoyo en la preparación de pedidos y colocación de mercancías adaptado a la sección de trabajo: entradas, salidas, robot, dinámicas."
    tiempo="mayo 2023 - Actualidad"
>
    <p>Aquí va el PNG</p>
</Puesto>

<Puesto
    puesto="Repartidor"
    empresa="Papa Johns"
    descripcion="Conducción del vehículo de reparto hasta los diferentes destinos incluidos en la ruta y preparación de pedidos para cada cliente de manera presencial y telefónica."
    tiempo="junio 2023 - abril 2024"
>
    <p>Aquí va el png</p>
</Puesto>

<Puesto
    puesto="Técnico deportivo en salvamento y socorrismo"
    empresa="Aguas Cristalinas Madrileñas S.L."
    descripcion="Velado por la salud y la seguridad de los usuarios tanto dentro como fuera de la piscina ."
    tiempo="junio 2019 - septiembre 2019"
>
    <p>Aquí va el PNG</p>
</Puesto>