---
import Estudio from "./Estudio.astro"
---

<h2>Formación</h2>

<Estudio 
    titulo="Desarrollo de Aplicaciones Web"
    centro="IES Laguna de Joatzel"
    duracion="2023 - 2025"
/>

<Estudio 
    titulo="Ingeniería en Tecnologias Industriales"
    centro="Universidad Rey Juan Carlos"
    duracion="2020 - 2023"
/>

<Estudio 
    titulo="Bachillerato científico-tecnológico"
    centro="Colegio Jesus nazareno"
    duracion="2018 - 2020"
/>