---
import LinkedButton from "./LinkedButton.astro";
import Contacto from "./Contacto.astro";
---

<div class="grid">
    <span class="img">
        <img
            src=""
            alt="Retrato de José Manuel Romero"
        />
    </span>

    <span class="presentation">
        <h1>José Manuel Romero de Lucas</h1>
        <h2>Desarrollador web</h2>
        <p class="location">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-pin"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4"
                ></path><path d="M9 15l-4.5 4.5"></path><path
                    d="M14.5 4l5.5 5.5"></path></svg
            >
            28903, Getafe, Madrid
        </p>

        <Contacto />
    </span>

    <div class="content">
        <div class="text-content">
            <h2 class="text">Sobre mí</h2>

            <p>
                Soy José Manuel Romero, un joven apasionado por la informática y
                la programación.
            </p>

            <p>
                Técnico Superior en desarrollo de Aplicaciones Web, el haber
                compaginado mis estudios con trabajos como operario logístico y
                repartidor me han convertido en la persona ambiciosa,
                comprometida y luchadora que soy hoy en día.
            </p>

            <p>
                Tras probar en el sector de la Tecnología como desarrollador en
                La Fábrica de Software, me he dado cuenta de dónde quiero
                desarrollar mi carrera profesional.
            </p>

            <p>
                Actualmente trabajo en La Fábrica de Software y cada día me
                siento más afortunado de poder dedicarme a lo que me apasiona y
                disfrutar cada día.
            </p>
        </div>
    </div>
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "img presentation"
            "content content";
        margin: 5em 5em 0 5em;
        column-gap: 5em;
    }

    .img {
        grid-area: img;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    img {
        border-radius: 50%;
    }

    .location {
        display: inline-flex;
        align-items: center;
    }

    .content {
        margin-top: 1em;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text-content {
        text-align: justify;
    }

    @media (max-width: 615px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "img"
                "presentation"
                "content";
            row-gap: 2em;
        }

        .img {
            justify-content: center;
        }

        .content{
            margin-top: 0;
        }
    }
</style>
