---
import LinkedButton from "./LinkedButton.astro";
import Contacto from "./Contacto.astro";
---

<div class="grid">
    <span class="img">
        <img src="../../retrato.jpg" alt="Retrato de José Manuel Romero" />
    </span>

    <span class="presentation">
        <h1>José Manuel Romero de Lucas</h1>
        <h2>Desarrollador web</h2>
        <p class="location">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-pin"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15 4.5l-4 4l-4 1.5l-1.5 1.5l7 7l1.5 -1.5l1.5 -4l4 -4"
                ></path><path d="M9 15l-4.5 4.5"></path><path
                    d="M14.5 4l5.5 5.5"></path></svg
            >
            28903, Getafe, Madrid
        </p>

        <Contacto />
    </span>
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "img presentation"
            "content content";
        column-gap: 5em;
    }

    .img {
        grid-area: img;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    img {
        border-radius: 50%;
        margin: 0;
        padding: 0;
        max-width: 90%;
    }

    .location {
        display: inline-flex;
        align-items: center;
    }

    .content {
        margin-top: 1em;
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text-content {
        text-align: justify;
    }

    @media (max-width: 615px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "img"
                "presentation"
                "content";
            row-gap: 2em;
        }

        .img {
            justify-content: center;
        }

        .content {
            margin-top: 0;
        }
    }
</style>
