---
const { puesto, empresa, descripcion, tiempo } = Astro.props;
---

<div class="grid-container">
    <div>
        <slot />
    </div>
    <div>
        <h3>{ puesto }</h3>
        <h4>{ empresa }</h4>
        <p class="description">{ descripcion }</p>
    </div>
    <div>
        <p class="time">{ tiempo }</p>
    </div>
</div>

<style>
    .grid-container{
        display: grid;
        grid-template-columns: 0.3fr 3fr auto;
        gap: 1rem;
        padding: 1rem 0;
    }

    .description{
        color: #666;
        transition:
			background-color 0.3s ease,
			color 0.3s ease;
    }

    body.dark-mode .description{
        color:#cbd5e1;
        transition:
			background-color 0.3s ease,
			color 0.3s ease;
    }

    .time{
        color: #0e0e7e;
        background-color: #41b8d5;
        border: 2px solid #0e0e7e;
        border-radius: 20px;
        padding: 0.5em 1em;
    }

    @media (max-width: 800px){
        .grid-container{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 0;
        }

        .time{
            margin-top: 1em;
            width: fit-content;
        }

        p{
            margin: 0;
        };
    }
</style>