---
import Tecnologia from "./Tecnologia.astro";
---

<div class="line"></div>
<h2 class="text">Tecnologías</h2>
<div class="flex-container">
    <Tecnologia nombre="HTML">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-html"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path d="M2 21v-6"
            ></path><path d="M5 15v6"></path><path d="M2 18h3"></path><path
                d="M20 15v6h2"></path><path d="M13 21v-6l2 3l2 -3v6"
            ></path><path d="M7.5 15h3"></path><path d="M9 15v6"></path></svg
        >
    </Tecnologia>

    <Tecnologia nombre="CSS">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-css"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path
                d="M8 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"></path><path
                d="M11 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
            ></path><path
                d="M17 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"
            ></path></svg
        >
    </Tecnologia>
</div>
<style>
    .line {
        width: 90%;
        height: 3px;
        background-color: #41b8d5;
        border-radius: 50px;
        margin: 1em auto;
    }

    .flex-container{
        display:flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: left;
    }
</style>
