---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="gf">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh; 
	}

	body {
		background-color: rgb(40, 42, 54); /*Fondo oscuro*/
		background-color: #0f2b3a; /*Segundo fondo oscuro*/
		background-color: rgb(206, 198, 198);
		color: black
		color: white;
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
		display: flex;
		flex-direction: column;
	}
</style>
